/advertizers_aggregated.csv
/kdd12_descriptions.csv
/kdd12_keywords.csv
/kdd12_query.csv
/kdd12_test.csv
/kdd12_titles.csv
/kdd12_training.csv
/kdd12_user.csv
/kdd12_click_counts.csv
/kdd12_ctr_dist.csv
/kdd12_impression_counts.csv
